body {
    font-family: Times New Roman;
    background-color: #e3f2fd;
    text-align: center;
    padding-top: 100px;
}

.weather-box {
    background-color: #ffffff;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#weather {
    margin-top: 15px;
    font-size: 16px;
}
